<!DOCTYPE html>
<html>
    <head>
        <title>Gorgeous Space Photos</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"></link>
        <link rel="stylesheet" type="text/css" href="/app.css"></link>
        <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108177941-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-108177941-1');
        </script>
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="ui container" id="navbar">
                <a href="/photos" class="header item iconSize"><i class="space shuttle icon"></i>Photo Site</a>
                <a href="/photos/new" class="item">New Post</a>
            </div>
            <div id="me"><p> Made by Sedat Can Yalçın</p></div>
            <div class="right menu">
                <% if(!currentUser) { %>
                <div class="item">
                    <a href="/login">Login</a>
                </div>
                <div class="item">
                    <a href="/register">Register</a>
                </div>
                <% } else { %>
                <div class="item">
                    <p>Signed in as <%= currentUser.username %></p>
                </div>
                <div class="item">
                    <a href="/logout">Logout</a>
                </div>
               <% } %>
            </div>
        </div>
        
    