<% include ../partials/header %>

<div class="ui container main text segment">
    <form class="ui form" action="/photos/<%= photo._id %>/comment" method="POST">
      <div class="field">
        <label>Add a comment to <%= photo.title %></label>
        <input type="text" name="comment[text]" placeholder="Text">
      </div>
      <button class="ui blue basic button" type="submit">Submit</button>
</form>
</div>

<% include ../partials/footer %>