body {
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.shuttle.icon {
    font-size: 1.5em;
}
.container.main {
    margin-top: 7.0em;
}
#navbar {
    margin-left: 0px!important;

}
#index {
    width: 500px;

}

.ui.image {
    width: 230px;
}
